<div class="row">

  <div class="col-sm-6 col-md-6 left-column" id="hero-image">
    <%= image_tag "rachel.jpg" %>
  </div>

  <div class="col-sm-6 col-md-6 right-column" >
    <p class="lead">
    Wanted to learn to fly? Want variation in your exercise regimen? Just want to have fun? Circus classes focus on form and body awareness through skill work, with an emstronghasis on strength building and injury prevention. You will learn at your own pace, with movements that are tailored to your skill, fitness, and flexibility level.
    </p>

    <p>We limit beginner and intermediate aerials classes to just four people per class, to maximize student-teacher interaction, and all of our teachers are professionals in their discipline. We are committed to offering only the highest quality of personalized circus instruction to our students.</p>

    <h2></h2>

    <div class="flashy"><h3><%= link_to 'Upcoming Classes', '/upcoming_classes'%></h3></div>

  </div>

</div>





