<h2>Private lessons</h2>
<p>Private instruction is available for all levels of aerials, partner acrobatics, and handbalancing. No experience necessary- all are welcome, whether you’re looking for a fun way to build strength and flexibility, a thrilling hobby, or have professional aspirations. Creative  and choreographic instruction available in addition to skill and technique-based lessons. Come in for a one-off lesson, or schedule regular private instruction.</p>
<p>Rates for available upon request. Group discounts are available!</p>
<p>Please notify at least 24 hours in advance if you are going to miss a scheduled private lesson; if notification is given late, or if no notification is given and students simply do not show up, the full fee for the lesson is still charged.</p>
<p>To reserve a private lesson, please email Scheduling@EshAerialArts.com</p>
 
<strong>“Being on the silks combines the exhilaration of flying with a one-of-a-kind workout. Thanks to Rachel Stewart’s instruction, I have grown in both proficiency and confidence from this graceful and unique art.  She is not only an inspiring aerialist, but also a passionate and patient instructor. She is extremely talented at tailoring each class to the students’ levels, and is always prepared to adjust a lesson on the fly to work with students’ abilities.  Rachel is incredibly motivating, and I look forward to her classes all week long!”</strong>
<p>~Elizabeth Bronwell,  student</p>