<h2>Upcoming courses:</h2>

<% @courses.each do |course| %>
  <% if course.future && course.number_of_sessions > 1 %>
    <h3><%= link_to course.name, course %></h3>
    <p><%= course.description %></p>
    <%= image_tag course.photo_url %>
  <% end %> 
<% end %>

