<% if current_user.admin %>

  <h1>All Esh Community Members</h1>

  <h2>Students</h2>
  <% @students.each do |user| %>
    <%= render 'shared/show_user', :user => user %>
  <% end %>

  <h2>Instructors</h2>
  <% @instructors.each do |user| %>
      <%= render 'shared/show_user', :user => user %>
  <% end %>

  <%= link_to 'Enter a New Student or Instructor', new_user_path %>

<% end %>
