<div class="container">
	<div class="row">
	  <h3 class="container"><%= user.name %></h3>
	</div>
	<div class="row">    

	  <div class="col-sm-4 col-md-4 left-column">
	    <%= image_tag user.photo %>
	  </div>

	  <div class="col-sm-8 col-md-8 right-column">
	    <%= render 'shared/user_profile', :user => user %>
	  </div>
	  
	</div>
</div>