
#header {
	border: 2px purple solid;
	background: url('eshlogo.jpg') no-repeat fixed;
	background-size: 100px;
	text-align: center;

	.header-text {
		display: inline-block;
	}
	#nav-bar {

		li{
			display: inline-block;
		}

	}

}

#page-container {

	padding: 20px;

	.photo {
		width: 100%;
		max-width: 400px;
	}

	#hero-image {
		text-align: center;
		img {
			width: 100%;
			max-width: 500px;
		}
	}

	.left-column {
		
		padding: 20px;

		img {
		width: 100%;
		}
	}

	.right-column {

		padding: 20px;
		vertical-align: middle;
	}

	.thumbnail-photo {
		width: 400px;

	}

	.index-list {
		display: inline;
	}
}

