
#header {
	border: 2px purple solid;

	.header-logo {
		display: inline-block;
		img {
			height: 100px;
		}
	}
	.header-text {
		text-align: center;
		display: inline-block;
	}
	#nav-bar {

		li{
			display: inline-block;
		}

	}

}