
#header {
	display: none;
	border: 2px purple solid;
	background: url('eshlogo.jpg') no-repeat fixed;
	background-size: 100px;
	text-align: center;

	.header-text {
		display: inline-block;
	}
	#nav-bar {

		li{
			display: inline-block;
		}

	}

}

#page-container {

	padding: 20px;

	#hero-image {
		text-align: center;
		img {
			width: 100%;
			max-width: 500px;
		}
	}

	.left-column {
		border: 3px red dotted;
	
	}

	.right-column {
		border: 3px blue dotted;
		padding: 20px;
	}
}

