
#header {

	text-align: center;

	.header-text {

	}
	.nav-bar {

		li{
			display: inline-block;
		}

	}

}



#page-container {
	
	padding: 40px;
	max-width: 900px;
	margin: auto;

	.photo {
		img {
		width: 100%;
		max-width: 400px;
		}
	}

	#hero-image {
		text-align: center;
		img {
			width: 100%;
			max-width: 500px;
		}
	}

	.left-column {

		img {
		width: 100%;
		}
	}

	.right-column {
		vertical-align: middle;
	}

	.thumbnail-photo {
		width: 400px;

	}

	.index-list {
		display: inline;
	}

		.inline {
		display: inline;
	}

	.inline-block {
		display: inline-block;
	}

	.container {
		padding: 20px;
	}

	.center {
		margin: auto;
		text-align: center;
	}
}

