
#header {

	text-align: center;

	.header-text {

	}
	.nav-bar {

		li{
			display: inline-block;
		}

	}

}

.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}

.container {
	padding: 20px;
}

#page-container {
	
	padding: 20px;

	.photo {
		img {
		width: 100%;
		max-width: 400px;
		}
	}

	#hero-image {
		text-align: center;
		img {
			width: 100%;
			max-width: 500px;
		}
	}

	.left-column {

		img {
		width: 100%;
		}
	}

	.right-column {
		vertical-align: middle;
	}

	.thumbnail-photo {
		width: 400px;

	}

	.index-list {
		display: inline;
	}
}

