<h2>Thanks, you have paid <strong>$<%=@amount / 100 %>.00</strong> to Esh Circus Arts.</h2>

<h3>Your current course registrations are: </h3>

<ul>
   <% current_user.courses_taking.each do |course_registration| %>
     <li><%= course_registration.course.name %> </li>
   <% end %>
</ul>
